Source: pika-hyprland-autologin
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13)
Rules-Requires-Root: no

Package: pika-hyprland-autologin
Architecture: linux-any
Depends: pika-hyprland-settings
Provides: pika-hyprland-autologin
Description: Autologin script for hyprland iso
